################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tupy.Extensions/obj
/Tupy.Extensions/Tupy.Extensions.1.0.0.nupkg
